<% include ./_layouts/adminheader %>
    <div class="admin-background-full"></div>
    <h2 class="admin-page-title">Dashboard</h2>
    <% if(projectManagementExists) { %>
        <div class="dashbaord-section">
            <div class="dashboard-notepad">
                <h3 class="none-of-something">There are no notes...</h3>
            </div>
            <a class="dashboard-redirect" href="#">Read More Notes</a>
        </div>
        <% } %>
        <% if(true){ %>
            <div class="dashbaord-section">
                <div class="dashboard-notepad">
                    <h3 class="none-of-something">There is no data...</h3>
                </div>
                <a class="dashboard-redirect" href="#">See more graphs</a>
            </div>
            <% } %>
            <div class="dashbaord-section">
                <div class="dashboard-notepad">
                    <h3 class="none-of-something">There are no tasks...</h3>
                </div>
                <a class="dashboard-redirect" href="#">See all tasks</a>
            </div>
            <div class="dashboard-divider"></div>
            <div class="dashboard-log">
                <div class="dashboard-notepad">
                    <h3 class="none-of-something">There is nothing in the log...</h3>
                </div>
                <a class="dashboard-redirect" href="#">See the full log</a>
            </div>
            <% include ./_layouts/adminfooter %>