.button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
  margin: 20px 0 20px 0;
  font-size: 20px;
  transition: all 0.5s ease-out;

  &__submit {
    transition: all 0.5s ease-out;
    background: white;

    &:hover {
      background: black;
      border: 1px solid #eee;
      color: white;
      transition: all 0.5s ease-out;
    }
  }

  &__cancel {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 1px solid black;
    background: #ff0000;
    color: white;
    text-align: center;
    padding: 10px;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: #b22222;
      color: #eee;
      transition: 0.4s;
      transition: all 0.5s ease-out;
    }
  }

  &__clearcart {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
    background: #ff0000;
    color: white;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: #b22222;
      color: #eee;
      transition: 0.4s;
      transition: all 0.5s ease-out;
    }
  }

  &__buynow {
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid black;
    background: #1e90ff;
    color: white;
    transition: all 0.5s ease-out;
    &:hover {
      background-color: #b0c4de;
      color: #eee;
      transition: 0.4s;
      transition: all 0.5s ease-out;
    }
  }

  &__quantity {
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    transition: all 0.5s ease-out;
    &:hover {
      background: slategray;
      transition: 0.4s;
      transition: all 0.5s ease-out;
    }
  }

  &__bottom-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 30px 10px 0;
    transition: all 0.5s ease-out;

    & div {
      display: flex;
      margin: 10px 0 10px 0;
      transition: all 0.5s ease-out;
    }
  }

  &__product-add {
    border: 2px solid black;
    width: 150px;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    transition: all 0.5s ease-out;

    &:hover {
      border: 2px solid #eee;
      color: #fff;
      background: #000;
      transition: all 0.5s ease-out;
    }
  }
}
