.shipping {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 600px;
  box-shadow: 0 2px 2px 4px rgba(0, 0, 0, 0.1);
  visibility: hidden;

  &__holder {
    display: flex;
    justify-content: center;
    flex: 1;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 600px;
    visibility: hidden;
    top: 40px;
    margin: 0 auto;
  }

  & h2 {
    overflow: hidden;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    font-weight: 900;
    font-variant: small-caps;
    height: 50px;
  }

  & div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
  }

  & label {
    overflow: hidden;
    align-self: flex-start;
    font-size: 20px;
    height: 40px;
      margin: 5px 0 5px 10%;
  }

  & input {
    width: 75%;
    height: 30px;
  }

  & button {
    cursor: pointer;
    margin: 10px;
    width: 100%;
    height: 60px;
    background: #1e90ff;
    color: white;
    transition: all 0.5s ease-out;

    &:hover {
      background-color: #b0c4de;
      color: #eee;
      transition: 0.4s;
      transition: all 0.5s ease-out;
    }
  }
  &__showform{
    visibility: visible;
  }
}
