<% include ../_layouts/header %>
    <h1 class="page__title">
        <%= title %>
    </h1>
    <div class="form">
        <form  method="post" action="/users/login">
            <div class="form__group">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form__group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="button button__submit" >Log in</button>
        </form>
    </div>
<% include ../_layouts/footer %>