<% include ../_layouts/blogHeader %>
<div class="blogs">
    <h2 class="blog-title">
        <%= title %>
    </h1> 
    <div class="blogs__author">
        <%= author %>
    </div>
    <div class="blogs__content">
        <%- content %>

    </div>

    <div class="blogs__keywords-map">
        <%= keywords %>
    </div>
    <div class="blogs__comments-stuffs">
        comments will go here
    </div>
</div>
    <% include ../_layouts/footer %>