<% include ../_layouts/blogHeader %>
<div class="blogs-holder">
    <h2 class="blog-title">
        <%= title %>
    </h1> 
    <div class="blog-author">
        <%= author %>
    </div>
    <div class="blog-content">
        <%- content %>

    </div>

    <div class="keywords-map">
        <%= keywords %>
    </div>
    <div class="comments-stuffs">
        comments will go here
    </div>
</div>
    <% include ../_layouts/footer %>